---
interface Props {
  currentPage: number;
  totalPages: number;
  baseUrl: string;
}

const { currentPage, totalPages, baseUrl } = Astro.props;
const prevIcon = 'M15 19l-7-7 7-7';
const nextIcon = 'M9 5l7 7-7 7';
---

<div class="flex justify-center gap-2">
  <!-- Previous Button -->
  <a
    href={currentPage > 1 ? `${baseUrl}${currentPage - 1}` : '#blogs'}
    class={`flex items-center justify-center w-10 h-10 rounded-full ${currentPage > 1 ? 'bg-gray-200 hover:bg-lime-300 hover:text-gray-800' : 'bg-gray-200 text-gray-600 cursor-not-allowed'} transition-colors`}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d={prevIcon} />
    </svg>
  </a>
  <!-- Page Numbers -->
  {Array.from({ length: totalPages }, (_, i) => i + 1).map((page) => (
    <a
      href={`${baseUrl}${page}`}
      class={`flex items-center justify-center w-10 h-10 rounded-full ${page === currentPage ? 'bg-lime-300 text-gray-800' : 'bg-gray-200 text-gray-600 hover:bg-lime-300 hover:text-gray-800'} font-semibold transition-colors`}
    >
      {page}
    </a>
  ))}
  <!-- Next Button -->
  <a
    href={currentPage < totalPages ? `${baseUrl}${currentPage + 1}` : '#blogs'}
    class={`flex items-center justify-center w-10 h-10 rounded-full ${currentPage < totalPages ? 'bg-gray-200 hover:bg-lime-300 hover:text-gray-800' : 'bg-gray-200 text-gray-600 cursor-not-allowed'} transition-colors`}
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d={nextIcon} />
    </svg>
  </a>
</div>