---
export interface PortfolioItem {
  slug?: string;
  href: string;
  title: string;
  excerpt: string;
  image: string;
  category: string;
}

interface PortfolioCardProps {
  portfolio: PortfolioItem;
}

const { portfolio } = Astro.props as PortfolioCardProps;
---

<a href={portfolio.slug ? "/course/" +portfolio.slug : portfolio.href}>
  <div class="group rounded-3xl bg-white hover:bg-lime-100 border border-black/10 overflow-hidden cursor-pointer transition-all transform hover:-translate-y-2">
    <div class="relative w-full aspect-video overflow-hidden">
      <div class="project-img w-full h-full">
        <img src={portfolio.image} alt={portfolio.title} class="w-full" />
      </div>
      <div class="absolute inset-0 flex items-center justify-center bg-black/70 text-lg text-white font-medium opacity-0 group-hover:opacity-100 transition-all duration-300">
        コース詳細を見る
      </div>
    </div>
    <div class="px-6 py-4">
      <h3 class="text-xl font-semibold text-black mb-1">{portfolio.title}</h3>
      <p class="text-gray-600 mb-3">{portfolio.excerpt}</p>
      <p class="text-sm text-lime-700 uppercase">{portfolio.category}</p>
    </div>
  </div>
</a>
