---
import PortfolioCard from './PortfolioCard.astro';

export interface PortfolioItem {
  slug?: string;
  href: string;
  title: string;
  excerpt: string;
  image: string;
  category: string;
}

export interface PortfolioSectionProps {
  title: string;
  portfolios: PortfolioItem[];
  trustedBy: { src: string; alt: string }[];
  title2: string;
}

const portfolioData: PortfolioSectionProps = {
  title: '① 基礎コース',
  portfolios: [
    {
      title: "つみたて新NISA入門",
      category: "基礎知識 (詳細を見る)",
      excerpt: "つみたて投資枠に最適なインデックス投資を学び、実際に積立投資が始めることができます",
      image: "/img/project1.jpg",
      href: "https://www.udemy.com/course/how-to-invest-in-index-funds/?referralCode=519E379A25FE9C507B55",
    },
    {
      title: "TradingView入門",
      category: "基礎知識 (詳細を見る)",
      excerpt: "トレーディングビューを知識ゼロから実践レベルまで一気に使えるようになります",
      image: "/img/project2.jpg",
      href: "https://www.udemy.com/course/tradingview-for-beginners/?referralCode=55F51D6982BDD05B13A2",
    },
    {
      title: "テクニカル分析入門",
      category: "基礎知識 (詳細を見る)",
      excerpt: "ヘッドアンドショルダーや水平線の引き方などの基礎を学び、実践で使える知識を養います",
      image: "/img/project3.jpg",
      href: "https://www.udemy.com/course/technical-analysis-course-for-beginners/?referralCode=8434912DAA3A907E9C7F",
    },
    {
      title: "出来高入門",
      category: "基礎知識 (詳細を見る)",
      excerpt: "出来高・価格帯別出来高・出来高加重平均 (VWAP)を学び、エントリー/利確精度を高めます",
      image: "/img/project4.jpg",
      href: "https://www.udemy.com/course/volume-trading/?referralCode=E8F35D826AEF6F3658F9",
    },
  ],
  trustedBy: [
    { src: '/img/logo1.png', alt: 'Company 1' },
    { src: '/img/logo2.png', alt: 'Company 2' },
    { src: '/img/logo3.png', alt: 'Company 3' },
    { src: '/img/logo4.png', alt: 'Company 4' },
  ],
  title2: '② 勝つための環境整備',
};

export interface Lectures {
  title: string;
  preview: boolean;
}

export interface Sections {
  title: string;
  lectures: Lectures[];
}

export interface CoursePost {
  slug: string;
  publishedDate: string;
  title: string;
  excerpt: string;
  benefit: string[];
  image: string;
  price: number;
  alt: string;
  url: string;
  sections: Sections[];
  categories: string[];
}

interface CoursePostsProps {
  courses: CoursePost[];
}

const { courses } = Astro.props as CoursePostsProps;
---

<section id="portfolio" class="relative bg-gray-100 py-16 md:py-20">
  <div class="lg:max-w-7xl mx-auto px-6">
    <div class="text-center mb-12">
      <h2 class="text-3xl md:text-4xl font-semibold text-black whitespace-nowrap">
        {portfolioData.title}
      </h2>
    </div>
    <div id="portfolio-grid" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      {portfolioData.portfolios.map((portfolio) => (
        <PortfolioCard portfolio={portfolio} />
      ))}
    </div>
    <div class="mt-16">
      <h3 class="text-xl font-medium text-center mb-3 text-gray-600">Trusted By</h3>
      <div class="flex flex-wrap justify-center items-center gap-6">
        {portfolioData.trustedBy.map((logo) => (
          <img
            src={logo.src}
            alt={logo.alt}
            class="h-14 grayscale hover:grayscale-0 transition-all duration-300"
          />
        ))}
      </div>
    </div>
    <div class="text-center mt-16 mb-12">
      <h2 class="text-3xl md:text-4xl font-semibold text-black whitespace-nowrap">
        {portfolioData.title2}
      </h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      {courses.map((course) => (
        <PortfolioCard portfolio={course} />
      ))}
    </div>
  </div>
</section>

<!-- JavaScript -->
<script src="../scripts/portfolio.js"></script>